.page {
  background-color: #f0f5f5;
}

.heading {
  display: flex;
}

.title-text {
  color: gray;
}

.display-data {
  display: grid;
  grid-template-columns: auto auto;
}

.counter-container {
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.graph-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin: 5px;

  justify-content: center;
  align-items: center;
}

.earnings-graph {
  width: 800px;
}

.review-graph {
  width: 500px;
}

.order-graph {
  width: 800px;
}

.dollar-text {
  display: flex;
  justify-content: center;
}

.dollar-sign {
  font-size: 150px;
  font-weight: bold;
}
