.page {
  background-color: #f0f5f5;
}

.heading {
  display: flex;

  .title-text {
    color: gray;
    margin-right: 30px;
  }

  .label-text {
    align-self: center;
    font-weight: bold;
  }

  .date-filter-text {
    width: 120px;
    height: 30px;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .date-filter-button {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    align-self: center;
  }
}

.display-data {
  display: grid;
  grid-template-columns: auto auto;
}

.graph-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin: 5px;

  justify-content: center;
  align-items: center;

  .earnings-graph {
    width: 800px;
  }

  .review-graph {
    width: 500px;
  }

  .order-graph {
    width: 800px;
  }
}

.counter-container {
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  text-align: center;

  .dollar-text {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .dollar-sign {
    font-size: 150px;
    font-weight: bold;
  }
}
